# 변수
* 자료를 감는 택배상자
* 택배상자에는 자료를 1개만 넣을 수 있다. 
* 변수는 영문과 숫자를 조합해서 만들 수 있다. 
* 변수명의 시작은 반드시 영문자로 시작 or \_영문자로 시작
* 변수명이 숫자로 시작하거나 -같은 특수문자로 시작하면 오류
* **예약어(이미 파이썬에서 사용하고 있는 함수명. 문법용 단어 ex) for, list, if, id)**는 변수명으로 사용할 수 없다. 
    * **주의!!** 파이썬에서는 예약어를 써도 변수가 만들어 진다. 
    * 예약어로 변수를 만들지 않도록 주의!!
* 변수명은 스네이크 표기법으로 작성한다.

In [1]:
a=1

In [2]:
a

1

In [3]:
# 변수명을 2단어 이상으로 만들 때는 _로 연결하는 스네이크 표기업을 쓴다.
user_name='홍길동'
user_name

'홍길동'

In [4]:
# 변수명은 변수명만으로 안에 무엇이 있을지 예측 가능해야한다. 
all_reviews ='모든 리뷰'

In [5]:
review_one = "리뷰 한 개"
hap=0

In [6]:
# 변수 지우기 del
del hap

In [7]:
hap

NameError: name 'hap' is not defined

여러 개의 변수 동시에 만들고 자료 입력하기

In [ ]:
a=1
b=2

In [8]:
a, b, c = 1,2,3

In [9]:
print(a,b,c)

1 2 3

In [10]:
a,b,c= [5,6,7]

In [11]:
print(a,b,c)

5 6 7

In [12]:
a,b,c=(8,9,10)

In [13]:
print(a,b,c)

8 9 10

# 자료형(data type)
## 파이썬의 자료형은 동적으로 변화
* int : 정수(소수점이 없는 숫자) 
* float: 실수(소수점이 있는 숫자) 
* str: 문자 / 문자열
* list: 여러개의 자료가 순서대로 저장된 자료형, 모든 자료형을 넣어 만들 수 있음 [자료]
* tuple: list비슷하나 한 번 만들면 수정이 안됨. 모든 자료형을 넣어 만들 수 있음(자료) 
* dictionary: key:value 쌍으로 이루어진 자료형, 모든 자료형 넣어 만들 수 있음{ key: value} 
* set: 집합자료형, 자료의 중복이 되지 않음. {자료형}

# 데이터 타입을 출력하는 함수 type(변수)

# 1. 정수형 변수(int)

In [14]:
a =10
print(a) 
print(type(a))

10
<class 'int'>

# 2. 실수형 변수(float)

In [15]:
b= 3.14
print(b)
print(type(b))

3.14
<class 'float'>

# 3. 문자형 변수(str) 
* 문자형 데이터는 반드시 따옴표 \' , \" 안에 작성해야 한다.
* 문자: 문자 1개
* 문자열: 문자가 여러개 있는 것, **열** 즉, 순서가 있다.

In [16]:
c = "문"
print(c)

문

In [17]:
c='문자열'
print(c)

문자열

# 문자열 인덱싱: 문자열은 순서가 있으므로 변수명[번호] 형태로 해당위치의 문자를 출력/추출이 가능

In [19]:
c[1]

'자'

In [20]:
c[0]

'문'

In [21]:
c[-1]

'열'

In [33]:
long_char= "문자열은 아무리 길이가 길어도 함 줄로 입력해야 한다. 만약 줄바꾸꿈을 하소 싶다면 \\를 줄 바꿈할  곳 끛에 넣고 줄바꿈을 하루 수 있다."

In [34]:
print(long_char)

문자열은 아무리 길이가 길어도 함 줄로 입력해야 한다. 만약 줄바꾸꿈을 하소 싶다면 \를 줄 바꿈할  곳 끛에 넣고 줄바꿈을 하루 수 있다.

In [40]:
long_char2= "문자열은 아무리 길이가 길어도 함 줄로 입력해야 한다. \
만약 줄바꾸꿈을 하소 싶다면 \\를 줄 바꿈할 곳에 넣고\
줄바꿈을 하루 수 있다."

In [37]:
print(long_char2)

문자열은 아무리 길이가 길어도 함 줄로 입력해야 한다. 만약 줄바꾸꿈을 하소 싶다면 \를 줄 바꿈할  곳 끛에 넣고줄바꿈을 하루 수 있다.

In [41]:
# 출력시 줄바꿈으로 하고 싶을 때 \n

long_char4= "문자열은 아무리 길이가 길어도 함 줄로 입력해야 한다. \n\
만약 줄바꾸꿈을 하소 싶다면 \\를 줄 바꿈할 곳에 넣고\n\
줄바꿈을 하루 수 있다."

In [42]:
print(long_char4)

문자열은 아무리 길이가 길어도 함 줄로 입력해야 한다.
만약 줄바꾸꿈을 하소 싶다면 \를 줄 바꿈할 곳에 넣고
줄바꿈을 하루 수 있다.

# 이스케이프문자 없이 줄바꿈하며 입력하고 싶을 때
''' ''' """ """

In [43]:
long_char5= """문자열은 아무리 길이가 길어도 함 줄로 입력해야 한다. 
만약 줄바꾸꿈을 하소 싶다면 \\를 줄 바꿈할 곳에 넣고
줄바꿈을 하루 수 있다."""

In [44]:
print(long_char5)

문자열은 아무리 길이가 길어도 함 줄로 입력해야 한다.
만약 줄바꾸꿈을 하소 싶다면 \를 줄 바꿈할 곳에 넣고
줄바꿈을 하루 수 있다.

In [45]:
long_char6= '''문자열은 아무리 길이가 길어도 함 줄로 입력해야 한다. 
만약 줄바꾸꿈을 하소 싶다면 \\를 줄 바꿈할 곳에 넣고
줄바꿈을 하루 수 있다.'''

In [46]:
long_char6

'문자열은 아무리 길이가 길어도 함 줄로 입력해야 한다. \n만약 줄바꾸꿈을 하소 싶다면 \\를 줄 바꿈할 곳에 넣고\n줄바꿈을 하루 수 있다.'

# 문자열의 길이 재기 len(문자열/변수)

In [47]:
len('asdadsadfsdfvgdgfdgadfsgdfsafgdfdegfrgrefgfegfdfd')

49

In [47]:
len('asdadsadfsdfvgdgfdgadfsgdfsafgdfdegfrgrefgfegfdfd')

49

# 문자열의 번호(index)는 길이 -1 
* len의 결과가 74일경우 인덱스는 0-73번까지

In [49]:
long_char6[-1]

'.'

# 문자의 덧셈, 곱셈
* 문자의 덧셈: 붙이시
* 문자의 곱셈: 반복

In [50]:
c ='python'
d="고양이"

In [51]:
print(c,d)

python 고양이

In [52]:
e= c+d
print(e)

python고양이

In [53]:
# 문자 + 문자2 == 문자문자2
f= c+" "+d
print(f)

python 고양이

In [54]:
# 문자 곱셈 == 문자 반복
a = "*"
b ="hellp world"
print(a*10)
print(b)
print(a*10)

**********
hellp world
**********

# 문자열의 인덱싱과 슬라이싱
* 인덱싱: 문자열에 앞에서부터 부여된 숫자를 대괄호 안에 넣어서 그 위치의 문자를 출력하는 것
    * 변수[숫자]
* 슬라이싱: 문자역에 부여된 인덱스 번호를 범위로 묶어서 가져오는 것
    * 변수[시작번호: 끝번호+1:간격]

In [55]:
slicing='슬라이싱: 문자역에 부여된 인덱스 번호를 범위로 묶어서 가져오는 것'

In [56]:
slicing[0]

'슬'

In [57]:
slicing[6:10]

'문자역에'

In [59]:
slicing[::2]

'슬이:문역 여 덱 호 위 어 져는것'

# 리스트 list 
* 리스트는 []안에 정수, 실수, 문자/문자열, 리스트, 튜플, 딕셔너리 를 모두 넣어서 만든다. 
* 리스트는 여러가지 자료가 나열된 형태이므로 순서가 있다. 
* 인덱, 슬라이싱 가능
* 자료의 추가/ 삭제가 가능

In [60]:
a = [1,3.5, "삼", "사십오", [1,2,3], (4,5,6), {"key": "value"}]

In [64]:
print(a[4:7])

[[1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [63]:
print(type(a))

<class 'list'>

In [65]:
print(type(a[6]))

<class 'dict'>

#  리스트 안에 리스트/투플이 있는 경우는?

In [66]:
a

[1, 3.5, '삼', '사십오', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [68]:
a[3][2]

'오'

In [69]:
a[4][2]

3

# 중첩리스트

In [76]:
b= [1, 3.5, '삼', '사십오', [1, 2, [4,5,[7,8,9]]], (4,5,6),{'key': 'value'}]

In [74]:
b[4][2][2][2]

9

# len함수로 길이 구하기

In [77]:
len(b)

7

In [78]:
len(b[3])

3

In [82]:
len(b[4][2])

3

# 리스트에 자료 추가하기 .append(자료) 
* append로 추가된 자료는 리스트의 가장 마지막에 추가 됨

In [83]:
b.append(99)

In [84]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9]]],
 (4, 5, 6),
 {'key': 'value'},
 99]

In [85]:
b.append(99.999)

In [86]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9]]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999]

In [87]:
b.append(["일", "이", "삼"])

In [89]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9]]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999,
 ['일', '이', '삼']]

In [91]:
b.append((1,2,3))

In [92]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9]]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999,
 ['일', '이', '삼'],
 (1, 2, 3)]

In [93]:
b.append({"key2": "value2"})

In [94]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9]]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999,
 ['일', '이', '삼'],
 (1, 2, 3),
 {'key2': 'value2'}]

In [95]:
del b[-3]
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9]]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999,
 (1, 2, 3),
 {'key2': 'value2'}]

In [96]:
del b[10:12]
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9]]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999,
 (1, 2, 3)]

# 튜플 tuple
* 여러가지 자료를 ()안에 넣어서 만드는 자료형
* 모든 data type의 자료를 넣을 수 있다.
* 한 번 생성하면 수정이 되지 않는다. 
* 튜플이 리스트보다 실행 속도가 빠르다.

In [97]:
t = (1,)

In [98]:
t

(1,)

In [99]:
t2=(2)
t2

2

In [100]:
type(t), type(t2)

(tuple, int)

In [101]:
t3 = (1, 2.5, '삼', '사십오', [1, 2, 3], (4,5,6),{'key': 'value'})

In [102]:
t3[4][1]

2

In [103]:
t3[0:4]

(1, 2.5, '삼', '사십오')

In [104]:
# 튜플은 자료 추가가 안됨.
t3.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [105]:
# 튜플은 자료 수정도 안됨
t3[0] = 100

TypeError: 'tuple' object does not support item assignment

# 6. 딕션너리형(dict) json {"key":"value"}
* key 와 value로 이루어진 데이터형 
* json 이라고 불리며 웹상에서 데이터를 주고 받을 떄 주로 사용
* 딕셔너리의 value에는 모든 자료형이 올 수 있음. 
* 딕셔너리의 key에는 lsit,dict는 올 수 없음. 
* key를 호출하면 value가 출력됨. 
* 딕셔너리는 순서가 없는 자료형

In [107]:
dict1 ={'이름': "고길동", "나이":33, "키":175.4, "가족": ['둘리','또치', '도우너']}

In [112]:
print(dict1["이름"], type(dict1["이름"]))

고길동 <class 'str'>

In [113]:
print(dict1["나이"], type(dict1["나이"]))

33 <class 'int'>

In [114]:
print(dict1["키"], type(dict1["키"]))

175.4 <class 'float'>

In [115]:
print(dict1["가족"], type(dict1["가족"]))

['둘리', '또치', '도우너'] <class 'list'>

In [116]:
dict1["가족"][0]

'둘리'

In [117]:
dict2={"가족": ["둘리", "또치", "도우너", {"키":[145, 155,165]}]}

# dict에서 len은 key의 갯수

In [119]:
dict2["가족"][3]["키"][1]

155

# 딕셔너리에 자료 추가/삭제하기 
* 자료추가
    * 변수명['새로운 key'] = 새 자료 **key가 중복되면 안됨, 중복될 경우 나중 값으로 젚어쓰기 됨**
    * 자료삭제
        * del 변수명['key']

In [120]:
dict2

{'가족': ['둘리', '또치', '도우너', {'키': [145, 155, 165]}]}

In [121]:
dict2['좋아하는 음식']= ['자장면', '짬뽕', '볶음밥']

In [122]:
dict2

{'가족': ['둘리', '또치', '도우너', {'키': [145, 155, 165]}],
 '좋아하는 음식': ['자장면', '짬뽕', '볶음밥']}

In [123]:
del dict2['가족'][3]

In [124]:
dict2

{'가족': ['둘리', '또치', '도우너'], '좋아하는 음식': ['자장면', '짬뽕', '볶음밥']}

In [125]:
del dict2['좋아하는 음식']

In [126]:
dict2

{'가족': ['둘리', '또치', '도우너']}

In [127]:
dict2['가족']= '대가족'

In [128]:
dict2

{'가족': '대가족'}

# 형변환 함수
    *data type을 다른 data type으로 바꾸는 것
    * int, float, str, list, tuple, dict

## int() 숫자나 문자를 정수로 형변환

In [129]:
a = 3.14
print(a, type(a))

3.14 <class 'float'>

In [131]:
int(a) , type(int(a))

(3, int)

In [132]:
b="3"
print(b, type(b))

3 <class 'str'>

In [133]:
int(b), type(int(b))

(3, int)

# float() 정수나, 문자를 실수로 형변환

In [134]:
c=200
print(c, type(c))

200 <class 'int'>

In [135]:
float(c), type(float(c))

(200.0, float)

In [136]:
d= '3.14'
d, type(d)

('3.14', str)

In [137]:
d= float(d)
d, type(d)

(3.14, float)

## str() 숫자나, 다른 자료형을 문자로 변환

In [138]:
a=10
b=34.5
c=[1,2,4, "오"]
d = ("육", 7, 8.5, 9)
e = {3 : [1,2,3]}

In [141]:
print(str(a), type(str(a)))
print(str(b), type(str(b)))
print(str(c), type(str(c)))
print(str(d), type(str(d)))
print(str(e), type(str(e)))

10 <class 'str'>
34.5 <class 'str'>
[1, 2, 4, '오'] <class 'str'>
('육', 7, 8.5, 9) <class 'str'>
{3: [1, 2, 3]} <class 'str'>

## list() 튜플이나 문자열로 되어 있는 리스트를 리스트로 변환

In [146]:
list(d), type(list(d))

(['육', 7, 8.5, 9], list)

In [147]:
c=str(c)
print(c, type(c))

[1, 2, 4, '오'] <class 'str'>

In [148]:
list(c)

['[', '1', ',', ' ', '2', ',', ' ', '4', ',', ' ', "'", '오', "'", ']']

In [149]:
d= list(d)
print(d, type(d))

['육', 7, 8.5, 9] <class 'list'>

In [150]:
d.append("튜플을 리스트로 변환 후 자료 입력")

## tuple() 리스트를 튜플로 변환

In [151]:
d = tuple(d)
d, type(d)

(('육', 7, 8.5, 9, '튜플을 리스트로 변환 후 자료 입력'), tuple)

# 연산자의 종류

## 산술연산자 +,-,*,/ , %, //, **

In [154]:
# 덧셈
1+1

2

In [155]:
# 뺼셈
3-1

2

In [156]:
a=3
b=2
a-b

1

In [157]:
# 곱하기 
a*b

6

# 나눗셈을 할 경우 데이터 타입이 정수에서 실수로 바뀐다.

In [158]:
# 나눗셈의 결과는 반드시 실수로 나온다. 
b/a

0.6666666666666666

In [162]:
# 나머지 연산자 % 나눈 후 나머지만 출력 
#홀수 짝구 구분시 주로 사용 %2 ==0 짝수, %2==1 홀수
#배수를 구할 때 사용 % 3 ==0.3dml qotn, %7 == 7의 배수
a/b, a%b, 6%2

(1.5, 1, 0)

In [165]:
# // 나눗셈 후 
print(5//2)

2

In [166]:
# ** 제곱
2**7

128

# 할당연산자
* =,+=,-=,*=,/= %=

In [167]:
# = : 오른쪽 있는 자료를 왼쪽 변수에 집어 넣는 할당 연산자 
a = 10
a

10

In [168]:
# b =b +10 => b +=10
b +=10
b

12

In [169]:
# b =b-2 => b -=2
b -= 2
b

10

In [170]:
# b = b*3 => b *=3
b*=3
b

30

In [171]:
# b =b/5 => b/=5
b /= 5
b

6.0

In [173]:
# b = b%2 => b%=2
b%=2
b

0.0

# 비교연산자
* 같다 == 
* 다르다 != 
* 초과 >
* 이상 >= 
* 미만 < 
* 이하 <=

In [174]:
a =3
b =3.0
c=5
d='Python'
e='python'
f=True
g = False

* == 같으면 True, 다르면 False

In [176]:
a == b

True

In [177]:
 a== c

False

In [178]:
 d == e

False

In [179]:
f ==g

False

* != 같으면 False,  다르면 True

In [180]:
a != b

False

In [181]:
a != c

True

In [182]:
d != e

True

* \> 왼쪽값이 오른쪽 값과 비교해서 크면 True (초과)
* \< 왼쪽값이 오른쪽 값과 비교해서 작으면 True(미만)
* \>= 왼쪽값이 오른쪽 값과 비교해서 크거나 같으면 True(이상)
* \<= 왼쪽값이 오른쪽 값과 비교해서 작거나 같으면 True(이하)

In [183]:
 5 >= 3

True

In [184]:
5 > 3

True

In [185]:
5 < 3

False

In [186]:
5 <= 3

False

In [187]:
5 < 5

False

# 논리 연산자 
* and, or, not

* and: 왼쪽과 오른쪽 값 모두 True 일 때 True, 하나라도 False면 False

In [189]:
# True and True 
3 == 3 and 5 > 3

True

In [190]:
# Fasle and True 
3 < 3 and 5 > 3

False

In [ ]:
# True and False

In [ ]:
# False and False

* or 왼쪽이나 오른쪽 중에 하나라도 True면 True, 둘 다 False 일 때 만 False

In [191]:
# True or True 
3 == 3 or 5 > 3

True

In [192]:
# Fasle or True 
3 < 3 or 5 > 3

True

In [ ]:
# True and False

In [193]:
# False and False 
3 < 3 or 5 < 3

False

* not 값을 반대로 뒤집음 True => False, False => True

In [194]:
not True

False

In [195]:
not False

True

In [196]:
not(3 == 3 and 5 > 3)

False

In [197]:
not 3 < 3 and not 5 < 3

True

* not, and, or의 순위  
* not -> and -> or

In [201]:
False and False or True
not True and False or not False

True

In [202]:
# True and True 
10 == 10 and 10 !=5

True

# 식별연산자 
* is, is not(data type까지 같은지 비교)

In [203]:
print(a)
print(b)
print(c)

3
3.0
5

In [205]:
# == 는 값만 같으면 True 처리, is는 값이 같아도 데이터 타입이 다르면 False
print( a == b)
print( a is b)

True
False

In [206]:
d=3

In [208]:
# a와 b 모두 int 3이기 때문에 True
print(a is d)

True

In [210]:
# is not은 둘이 다르면 True 
print( a is not b)

True

* 멤버연산자 
*in, not in 
*list나 tuple, dict 안에 원하는 값이 있는지 찾을 때 사용

In [211]:
mem = [1,2,3,4,5,"육"]

In [212]:
3 in mem

True

In [213]:
6 in mem

False

In [214]:
3 not in mem

False

# 문자열 함수 .replace("찾을 값", "바꿀 값")

In [215]:
c ="010-1111-2222"
c

'010-1111-2222'

In [219]:
c =c.replace("-", ".")
c

'010.1111.2222'