# 서식지정자, format 메서드
* 문자열로만 입력해야 하는 상황에서 같은 위치에 문자를 여러 번 바꿔야 할 때 사용
* 문자의 자릿수 맞춤, 위치 정렬에도 사용
* 문자열 사이에 변수에 담긴 내용을 함께 출력할 때 사용.

# 서식지정자 %d, %d, %f, %길이s

# 1) 문자를 입력할 때 %s

In [1]:
print('이 수업의 이름은 %s 입니다.'% "국어")

이 수업의 이름은 국어 입니다.

In [2]:
for i in ['국어', '수학', '사회', '영어']:
    print('이 수업의 이름은 %s 입니다.'%i)

이 수업의 이름은 국어 입니다.
이 수업의 이름은 수학 입니다.
이 수업의 이름은 사회 입니다.
이 수업의 이름은 영어 입니다.

# 2) 정수를 입력할 때 %d

In [3]:
print('올해는 %d년 입니다.' % 2025)

올해는 2025년 입니다.

## 3) 실수를 입력할 때 %f 기본 소숫점 6자리로 표시

In [4]:
print('사람의 정상 체온은 약 %f도 입니다.'% 36.5)

사람의 정상 체온은 약 36.500000도 입니다.

* 소숫점 표기를 조절할 때 %.소숫점자리수f ex) %2f

In [8]:
print('사람의 정상 체온은 약 %.1f도 입니다.'% 36.5)

사람의 정상 체온은 약 36.5도 입니다.

# 4) 서식지정자로 문자열 길이, 정렬 %길이s
* %3s 3자리로 표시

In [9]:
print('%3s' % '01')

 01

In [10]:
'%3s' % '01'

' 01'

In [11]:
'%4s' % '01'

'  01'

In [12]:
print(15000)
print(150000)

15000
150000

In [13]:
print('가격은 %10d 입니다.'%15000)
print('가격은 %10d 입니다.'%150000)

가격은      15000 입니다.
가격은     150000 입니다.

## 5) 여러 항목 동시에 넣기

In [14]:
print("오늘은 %4d년 %2d월 %2d일 입니다."%(2025, 9, 24))

오늘은 2025년  9월 24일 입니다.

In [15]:
company = ['삼성전자', 'LG전자', '현대차', '대한항공', '하나투어']
stock_price =[71800, 12100, 195000, 31900, 86600]

In [16]:
for com, sp in zip(company, stock_price):
    print("%s의 주가는 %d원 입니다."% (com, sp))

삼성전자의 주가는 71800원 입니다.
LG전자의 주가는 12100원 입니다.
현대차의 주가는 195000원 입니다.
대한항공의 주가는 31900원 입니다.
하나투어의 주가는 86600원 입니다.

In [17]:
for com_sp in zip(company, stock_price):
    print("%s의 주가는 %d원 입니다."% com_sp)

삼성전자의 주가는 71800원 입니다.
LG전자의 주가는 12100원 입니다.
현대차의 주가는 195000원 입니다.
대한항공의 주가는 31900원 입니다.
하나투어의 주가는 86600원 입니다.

# 2. format 메서드 사용하기, f-string 문자열 포메팅

## 1) format 메서드 사용하기 
* "문자열 {인덱스 번호} 문자열 끝".format(값1, 값2) 
* ,format(값1, 값2) => 값1 =0, 값2=1

In [18]:
print("{}의 주가는 {}입니다.".format('삼성전자', 71800))

삼성전자의 주가는 71800입니다.

In [19]:
print("{1}의 주가는 {0}입니다.".format('삼성전자', 71800))

71800의 주가는 삼성전자입니다.

In [27]:
print("{0}의 주가는 {1}원입니다.\n{0}의 상한가는 {3}원입니다.\n{0}의 하한가는 {2}원입니다.".format("삼성전자", 71500, 50200, 93000))

삼성전자의 주가는 71500원입니다.
삼성전자의 상한가는 93000원입니다.
삼성전자의 하한가는 50200원입니다.

# 2) f-string 포메팅 python 3.6부터 사용 가능

In [28]:
company

['삼성전자', 'LG전자', '현대차', '대한항공', '하나투어']

In [29]:
stock_price

[71800, 12100, 195000, 31900, 86600]

In [31]:
print(f'{company[2]}의 주가는 {stock_price[2]}입니다.')

현대차의 주가는 195000입니다.

In [33]:
sam ='삼성전자'
sto = 718000
low =502000
high = 93000

In [34]:
print(f"{sam}의 주가는 {sto}원입니다.\n{sam}의 상한가는 {high}원입니다.\n{sam}의 하한가는 {low}원입니다.")

삼성전자의 주가는 718000원입니다.
삼성전자의 상한가는 93000원입니다.
삼성전자의 하한가는 502000원입니다.

# 3. fomat메서드와 f-string으로 문자열 정렬하기, 자리수 지정헤 출력하기
* "{인덱스:<길이}".format(값)
* f"{값:>길이}"

* <10: 공간을 10칸 확보하고 글자를 왼쪽 정렬

In [37]:
print("{0:<10}".format("삼성전자"))

삼성전자

In [38]:
"{0:<10}".format("삼성전자")

'삼성전자      '

In [39]:
"{0:>10}".format("삼성전자")

'      삼성전자'

In [40]:
f"{sam:<10}"

'삼성전자      '

In [41]:
f"{sam:>10}"

'      삼성전자'

### 숫자 표기시 숫자 자리수 맞추고 기본 값 지정하기 
* "{인덱스: 채울숫자 길이 서식 지정자}".format(값) - 단 서식지정자에서 %를 빼고 적는다. 
* f"{값: 채울 숫자 길이 서식지정자}

* 정수의 자릿수를 맞출 때

In [42]:
print("{0}월".format(1))

1월

In [43]:
print("{0:02d}월".format(1))

01월

In [44]:
print("{0:03d}월".format(1))

001월

In [45]:
print("{0:03d}월".format(1000))

1000월

In [46]:
print(f"{1:02d}월")

01월

* 실수의 자릿수를 맞출 때
* 실수에서 자릿수는 정수+.+소수점 .2f

In [47]:
print("{0:03.3f}".format(2.245678))

2.246

In [53]:
print("{0:06.3f}".format(2.245678))

02.246

In [49]:
print("{0:07.3f}".format(2.245678))

002.246

In [50]:
print("{0:07.4f}".format(2.245678))

02.2457

* 00시 00분부터 11시 59분까지 출력하세요. 1자리는 01형식으로 출력하세요.

In [55]:
for i in range(12):
    print(f'{i:02d}')

00
01
02
03
04
05
06
07
08
09
10
11

In [57]:
import time
for h in range(12):
    for m in range(60):
        print(f'{h:02d}시 {m:02d}분', end='\r')
        time.sleep(0.1)

KeyboardInterrupt:

* 공백을 원하는 문자로 채우고 자릿수 맞추기 
* {인덱스: 원하는 문자/숫자 < > 자릿수}.format(값)
* f'{값:원하는 문자/숫자 < > 자릿수}'

In [58]:
# 빈자리를 0으로 채울 떄 
"{0:0>4}".format(1)

'0001'

In [60]:
f'{1:0<4}'

'1000'

In [61]:
# $로 채울 때
"{0:$>4}".format(1)

'$$$1'

In [62]:
f'{1:$<4}'

'1$$$'