# 반복문 for, while
* 반복문은 동일한 작업을 여러 번 반복해야 할 경우 사용
* for, while 두 종류의 반복문이 있음
* for는 **반복 횟수가 정해져 있는 경우** 사용
* while은 반복 횟수사 정해져 있지 않은 경우 사용(무한 반복)

# for 반복문: 반복할 횟수가 정해져 있는 경우
for 변수1, 변수2 in 반복할 객체/자료(문자열, 리스트, 튜플, 딕션너리):<br>
____반복할 코드

In [ ]:
# 숫자 생성 함수 range(시작, 끝, step)

In [1]:
# for 문을 이용해서 숫자 1-10 출력
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

* 리스트와 튜플

In [4]:
ㅣ1= [1,2,3,4,5,'리스트', [1,2,3], (4,5,6)]
t1=(1,2,3,4,5,'리스트', [1,2,3], (4,5,6))

In [6]:
# 리스트를 반복문에 넣어서 요소를 하나씩 출력
for i in ㅣ1:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
리스트 <class 'str'>
[1, 2, 3] <class 'list'>
(4, 5, 6) <class 'tuple'>

In [7]:
# 튜플를 반복문에 넣어서 요소를 하나씩 출력
for i in t1:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
리스트 <class 'str'>
[1, 2, 3] <class 'list'>
(4, 5, 6) <class 'tuple'>

In [8]:
d=dict(이름='홍길동', 나이=40, 주소='서울', 전화번호='010-111-1111')
d

{'이름': '홍길동', '나이': 40, '주소': '서울', '전화번호': '010-111-1111'}

In [11]:
# 딕셔너리는 len을 사용시 가장 상위 key의 갯수가 출력
len(d)

4

In [10]:
# 딕셔너리를 반복문에 넣으면 딕셔너리의 key가 출력 
for i in d:
    print(i)

이름
나이
주소
전화번호

In [12]:
# key를 이용해 value를 출력 
for i in d:
    print(d[i])

홍길동
40
서울
010-111-1111

In [13]:
# key를 이용해 value를 출력 
for i in d:
    print(d.get(i,'key없음'))

홍길동
40
서울
010-111-1111

In [16]:
# 딕셔너리 함수인 values()
d.values()
print(type(d.values()))
for i in d.values():
    print(i)

<class 'dict_values'>
홍길동
40
서울
010-111-1111

In [17]:
# 딕셔너리의 key와 value를 동시에 출력 
for i in d.items():
    print(i)

('이름', '홍길동')
('나이', 40)
('주소', '서울')
('전화번호', '010-111-1111')

In [18]:
# 딕셔너리의 key와 value를 동시에 출력 
for k,v in d.items():
    print(f'key:{k} value:{v}')

key:이름 value:홍길동
key:나이 value:40
key:주소 value:서울
key:전화번호 value:010-111-1111

* for 반복문을 이용해서 1부터 10까지 정수를 더한 합을 출력하세요

In [19]:
hap=0
for num in range(1,11):
    hap+=num
    print(hap)

1
3
6
10
15
21
28
36
45
55

* 1에소 50사이의 숫자중에서 짝수만 더한 합을 구하세요. 
    * 숫자를 1-50 사이로 생성
    * 짝수인지 판별 if 
    * hap 변수에 짝수만 합하기 
    * 합계 출력하기

In [21]:
hap=0
for num in range(1,51):
    if num%2==0:
        hap+=num
print(hap)

650

## 반복문에 사용할 자료를 일부 구간만 사용하기
* 슬라이싱

* 1부터 100까지 숫자를 생성하고 그중에서 30-70까지만 더해서 출력하세요.

In [23]:
# if 조건문을 이용해서 필터링
hap=0
for num in range(1,101):
#     print(num, end=' ')
    if 30 <=num <=70:
        hap+=num
print(hap)

2050

In [25]:
# 슬라이싱 활용
hap=0
for num in range(1,101)[29:70]:
#     print(num)
    hap+=num

print(hap)

2050

* 1-100까지 숫자 둥에서 짝수만 합 구하기(슬라이싱 활용)

In [27]:

hap=0
for num in range(1,101)[1::2]:
#     print(num)
    hap+=num

print(hap)

2550

* 1에서 100까지 숫자를 생성하고 역순으로 출력하세요

In [30]:
# range 함수 역순
for num in range(100,0,-1):
    print(num, end=' ')

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [28]:
# 슬라이싱을 이용한 역인덱싱
for num in range(1,101)[::-1]:
    print(num, end=' ')

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [31]:
# reversed() 함수
for num in reversed(range(1,101)):
    print(num, end=' ')

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [32]:
# sorted( reverse=True) 함수
for num in sorted([1,2,3,4,5],reverse=True):
    print(num, end=' ')

5 4 3 2 1

# enumerate() 반복문에서 자료의 인덱스를 만들어주는 함수

In [33]:
s = 'enumerate 함수는 반복문에서 index를 만들어 출력해 주는 함수입니다.'

In [34]:
import time

In [44]:
for idx, i in enumerate(s):
    print(f'{idx+1}/{len(s)} 실행중', end='\r')
#     if idx%2==0:
#     print(i, end=' ')
    time.sleep(0.1)

In [46]:
for i in enumerate(s):
#     print(f'{idx+1}/{len(s)} 실행중', end='\r')
#     if idx%2==0:
    print(i)

(0, 'e')
(1, 'n')
(2, 'u')
(3, 'm')
(4, 'e')
(5, 'r')
(6, 'a')
(7, 't')
(8, 'e')
(9, ' ')
(10, '함')
(11, '수')
(12, '는')
(13, ' ')
(14, '반')
(15, '복')
(16, '문')
(17, '에')
(18, '서')
(19, ' ')
(20, 'i')
(21, 'n')
(22, 'd')
(23, 'e')
(24, 'x')
(25, '를')
(26, ' ')
(27, '만')
(28, '들')
(29, '어')
(30, ' ')
(31, '출')
(32, '력')
(33, '해')
(34, ' ')
(35, '주')
(36, '는')
(37, ' ')
(38, '함')
(39, '수')
(40, '입')
(41, '니')
(42, '다')
(43, '.')

# continue/ break
* continue: 코드 실행을 건너 뛰고 반복을 계속 진행
* break: 특정 조건이 되었을 때 반복문 정지

In [52]:
for idx, i in enumerate(s):
    if idx%2==0:
        continue
        print(idx, i)
    else:
        if idx >19:
            break
            pass
        print(idx, i)

1 n
3 m
5 r
7 t
9
11 수
13
15 복
17 에
19

In [55]:
# 1-100까지 숫자를 생성하고 홀수만 합계를 구하세요. 
# 짝수면 짝수만 모인 리스트를 마들고 출력하세요. 
# 숫자가 70을 초과하면 멈추세요.
hap=0
list=[]
for i  in range(1,101):
    if i >70: break
    if i%2==0:
        list.append(i)
    else:
         hap+=i 
print(f'짝수의 리스트: {list}')
print(f'홀수의 합: {hap}')

짝수의 리스트: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70]
홀수의 합: 1225

# while: 반복할 횟수가 정해지지 않은 경우
* 무한 반복 가능 
* 무한 반복이 되지 않도록 조건식을 잘 짜주는 것이 중요 
변수 선언 및 초기화  num=0<br>
while 조건식:<br>
____반복할 코드 <br>
____변수 증가/감소 코드<br> 
____반복문이 종료되는 조건 + break

* while 문으로 1-10까지 출력하기

In [56]:
num=1
while num < 11:
    print(num, end=" ")
    num+=1

1 2 3 4 5 6 7 8 9 10

In [57]:
num=1
while True:
    if num >10:
        break
    print(num, end=" ")
    num+=1

1 2 3 4 5 6 7 8 9 10

* 1-50까지 수 중에서 3의 배수이거나 짝수인 수를 찾아서 합계를 출력하세요.

In [64]:
num=1
hap=0
list_4s=[]
while num <=50:
    if num%3 ==0 or num%2 ==0:
        hap+=num
#     print(num)
    if num%4==0:
        list_4s.append(num)
    num+=1
print(hap)
print(list_4s)

842
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48]

# while의 무한 반복
* while 뒤의 조건이 True인 경우 무한 반복
* while문 내에서 if 조건문으로 break를 걸어주어야 멈춤
* True가 되는 조건: True, 1, 정수, 실수, 문자열, list 등 자료가 들어있는 모든 변수나 자료 
* False가 되는 조건: False, 0, 0.0,"",'',[],(),{}

In [ ]:
i=1
while True:
    print(i, '무한 반복')
    i+=1