# input().split()으로 여러 데이터를 list형태로 받기
* split함수는 공백(구분자)을 기준으로 자료를 나누어 list로 만들어 줌

In [2]:
nums = input("숫자를 3개 입력해 주세요.").split()
print(nums, type(nums))

숫자를 3개 입력해 주세요.1 2 3
['1', '2', '3'] <class 'list'>

In [3]:
nums[2]

'3'

In [7]:
int(nums[0])+int(nums[1])

3

In [8]:
num1, num2, num3 = input("숫자를 3개 입력해주세요").split()
print(num1, num2, num3, type(num1), type(num2), type(num3))

숫자를 3개 입력해주세요1 2 3
1 2 3 <class 'str'> <class 'str'> <class 'str'>

# 인덱싱과 슬라이싱
* 문자: 글자 1개 
* 문자열: 글자가 여러개 => 순서가 있다. => 앞에서부터 0,1,2..순으로 번호가 매겨짐
* 인덱싱 변수명[인덱스 번호]로 자료 1개를 꺼내는 것

In [9]:
h1 ="문자열은 왼쪽부터 번호를 매길 수 있으며 시작은 0번부터 입니다."
print(h1)

문자열은 왼쪽부터 번호를 매길 수 있으며 시작은 0번부터 입니다.

In [10]:
#h1 변수에서 인덱스 10번의 자료를 추출하세요
h1[10]

'번'

* 슬라이싱 변수명[시작인덱스:끝인덱스+1:간격]
* 시작인덱스와 끝 인덱스는 생략가능
* [:10] => 시작부터 9번 인덱스까지 슬라이스
* [5:]=> 인덱스 5번부터 시작해서 끝까지 슬라이스
* [:] => 전체를 다 가져와라
* [:2] => 전체 자료에서 2칸씩 건너 뛰면서 슬라이스 
* [::-1] => 전체 자료를 역순 정렬

In [11]:
# h1에서 "번호를"만 추출하게요.
h1[10:13]

'번호를'

In [12]:
# 인덱스 0번부터 15번까지 추출하세요
h1[:16]

'문자열은 왼쪽부터 번호를 매길'

In [13]:
# 인덱스 15번부터 끝까지 추출하세요
h1[15:]

'길 수 있으며 시작은 0번부터 입니다.'

In [14]:
# h1에서 인덱스 1번까지 끝까지 2칸씩 건너 뛰면서 추출하세요
h1[1::2]

'자은왼부 호 길수있며시은0부 니.'

In [15]:
#h1의 자료를 역순으로 정렬하세요.
h1[::-1]

'.다니입 터부번0 은작시 며으있 수 길매 를호번 터부쪽왼 은열자문'

# 문자열 함수
* replace(): 값을 찾아서 바꾸는 함수
* split(): 공백을 기준으로 자료를 나눠서 **리스트로 변형**
* join(): 기준자를 통해서 리스트를 하나의 문자열로 변형
* strip(): 문자열 외부의 공백제거, 공백+특수문자 제거

## 문자열 바꾸기 replace(찾을 값, 바꿀 값, 반복 획수 -1)
* replace 함수는 사용 후 결과는 재할당 해야 함.

In [16]:
h2 = "He!ll!o Python!"
h2

'He!ll!o Python!'

In [18]:
h2.replace("!","")

'Hello Python'

In [21]:
h2=h2.replace("!","",2)
h2

'Hello Python'

In [22]:
h3 = "He!ll!o# Pyt#hon!"
h3

'He!ll!o# Pyt#hon!'

## 함수의 체인메서드 함수를 .으로 연결해서 중첩사용

In [24]:
# h3에서 !와 #을 없애고 마지막 !는 남겨두세요.
h3.replace("!",'',2).replace("#",'')

'Hello Python!'

## split()
* 공백을 기준으로 자료를 나눠서 list로 만들어줌
* 구분자를 따로 지정해서 사용 가능

In [25]:
h4 ="문자열은 왼쪽부터 번호를 매길 수 있어요"
h4_list=h4.split()
h4_list

['문자열은', '왼쪽부터', '번호를', '매길', '수', '있어요']

In [26]:
h5 ="문자열은, 왼쪽부터, 번호를, 매길, 수, 있어요"
h5_list = h5.split(",")
h5_list

['문자열은,', '왼쪽부터,', '번호를,', '매길,', '수,', '있어요']