# 반복문 for, while
* 반복문은 동일한 작업을 여러 번 반복해야 할 경우 사용
* for, while 두 종류의 반복문이 있음
* for는 **반복 횟수가 정해져 있는 경우** 사용
* while은 반복 횟수사 정해져 있지 않은 경우 사용(무한 반복)

# for 반복문: 반복할 횟수가 정해져 있는 경우
for 변수1, 변수2 in 반복할 객체/자료(문자열, 리스트, 튜플, 딕션너리):<br>
____반복할 코드

In [ ]:
# 숫자 생성 함수 range(시작, 끝, step)

In [1]:
# for 문을 이용해서 숫자 1-10 출력
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

* 리스트와 튜플

In [4]:
ㅣ1= [1,2,3,4,5,'리스트', [1,2,3], (4,5,6)]
t1=(1,2,3,4,5,'리스트', [1,2,3], (4,5,6))

In [6]:
# 리스트를 반복문에 넣어서 요소를 하나씩 출력
for i in ㅣ1:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
리스트 <class 'str'>
[1, 2, 3] <class 'list'>
(4, 5, 6) <class 'tuple'>

In [7]:
# 튜플를 반복문에 넣어서 요소를 하나씩 출력
for i in t1:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
리스트 <class 'str'>
[1, 2, 3] <class 'list'>
(4, 5, 6) <class 'tuple'>

In [8]:
d=dict(이름='홍길동', 나이=40, 주소='서울', 전화번호='010-111-1111')
d

{'이름': '홍길동', '나이': 40, '주소': '서울', '전화번호': '010-111-1111'}

In [11]:
# 딕셔너리는 len을 사용시 가장 상위 key의 갯수가 출력
len(d)

4

In [10]:
# 딕셔너리를 반복문에 넣으면 딕셔너리의 key가 출력 
for i in d:
    print(i)

이름
나이
주소
전화번호

In [12]:
# key를 이용해 value를 출력 
for i in d:
    print(d[i])

홍길동
40
서울
010-111-1111

In [13]:
# key를 이용해 value를 출력 
for i in d:
    print(d.get(i,'key없음'))

홍길동
40
서울
010-111-1111

In [16]:
# 딕셔너리 함수인 values()
d.values()
print(type(d.values()))
for i in d.values():
    print(i)

<class 'dict_values'>
홍길동
40
서울
010-111-1111

In [17]:
# 딕셔너리의 key와 value를 동시에 출력 
for i in d.items():
    print(i)

('이름', '홍길동')
('나이', 40)
('주소', '서울')
('전화번호', '010-111-1111')

In [18]:
# 딕셔너리의 key와 value를 동시에 출력 
for k,v in d.items():
    print(f'key:{k} value:{v}')

key:이름 value:홍길동
key:나이 value:40
key:주소 value:서울
key:전화번호 value:010-111-1111

* for 반복문을 이용해서 1부터 10까지 정수를 더한 합을 출력하세요

In [19]:
hap=0
for num in range(1,11):
    hap+=num
    print(hap)

1
3
6
10
15
21
28
36
45
55

* 1에소 50사이의 숫자중에서 짝수만 더한 합을 구하세요. 
    * 숫자를 1-50 사이로 생성
    * 짝수인지 판별 if 
    * hap 변수에 짝수만 합하기 
    * 합계 출력하기

In [21]:
hap=0
for num in range(1,51):
    if num%2==0:
        hap+=num
print(hap)

650