# 국민은행 앱 사용자 리뷰 데이토 JSON파일 읽어와서 csv파일로 변환하기

In [2]:
with open ("./com_kbstar_kbbank.json", encoding='utf-8') as file:
    data = file.read()

In [4]:
print(type(data))

<class 'str'>

In [5]:
import json

In [6]:
reviews = json.loads(data)
print(len(reviews), type(reviews))

2223 <class 'list'>

In [8]:
reviews[0].keys()

dict_keys(['사용자', '별점', '리뷰', '날짜', '개발자 응답'])

# 리뷰데이터를 key : [] 형태로 변환해서 정리
* result 변수에 담기
* import pandas pd
* df = pd.DataFrame(result)
* 별점 int
* 특수 문자 제거

In [102]:
result = {}
for key in reviews[0]:
    print(key)
    temp =[]
    for dict in reviews[:]:
        temp.append(dict[key])
    result[key]=temp  
# result

사용자
별점
리뷰
날짜
개발자 응답

In [103]:
result2={}
for dicts in reviews[:]:
    for key, value in dicts.items():
        result2.setdefault(key, []).append(value)
# print(result2)

* 별점을 숫자로 변환해서 저장하기

In [104]:
result2={}
for dicts in reviews[:]:
    for key, value in dicts.items():
        if key == "별점":
#             print(key, value)
            result2.setdefault(key, []).append(int(value))
        result2.setdefault(key, []).append(value)
# print(result2)

* 별점 이외의 자료는 특수문자 제거하기 
* value 가 None인 경우 문자열 함수를 사용하면 Nonetype 에러 발생
* 해결책
    * None을 다른 값으로 변경(해당 데이터 타입 ex)문자열)
    * value를 모두 str() 처리

In [110]:
result2={}
for dicts in reviews[:]:
    for key, value in dicts.items():
        if value == None:
            value='없음'
        if key == "별점":
            result2.setdefault(key, []).append(int(value))
        else:
            cleaned_value = re.sub(r'[^가-힣a-zA-Z0-9]',' ',value).replace('ㅋ',' ').replace('ㅎ',' ').replace('ㅠ',' ').replace('ㅜ',' ').replace('  ',' ').replace('   ',' ').strip()
        result2.setdefault(key, []).append(cleaned_value)
# result2

* 정규 표햔식을 이용해서 특수문자 제거

In [112]:
# value를 str()을 이용해 문자열로 처리 
result2={}
for dicts in reviews[:]:
    for key, value in dicts.items():
        if key == "별점":
            result2.setdefault(key, []).append(int(value))
        else:
            cleaned_value = re.sub(r'[^가-힣a-zA-Z0-9]',' ',str(value)).replace('ㅋ',' ').replace('ㅎ',' ').replace('ㅠ',' ').replace('ㅜ',' ').replace('  ',' ').replace('   ',' ').strip()
        result2.setdefault(key, []).append(cleaned_value)
# result2

In [116]:
import pandas as pd
df = pd.DataFrame(result)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2223 entries, 0 to 2222
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용자     2223 non-null   object
 1   별점      2223 non-null   object
 2   리뷰      2223 non-null   object
 3   날짜      2223 non-null   object
 4   개발자 응답  1912 non-null   object
dtypes: object(5)
memory usage: 87.0+ KB

In [34]:
Name = []
rates = []
rv = []
date = []
resp = []

In [35]:
for i in range(len(reviews)):
    Name.append(reviews[i]['사용자'])
    rates.append(int(reviews[i]['별점']))
    rv.append(reviews[i]['리뷰'])
    date.append(reviews[i]['날짜'])
    resp.append(reviews[i]['개발자 응답'])

In [119]:
# print(Name)
# print(rates)
# print(rv)
# print(date)
# print(resp)

In [37]:
type(rates[0])

int

In [38]:
print(rv[0])

리브와 리브넥스트에서 사용했던 ATM입금 기능이 있으면 좋겠습니다. 현금이나 실물 카드를 가지고 다니지 않게 되는 편리한 금융생활을 누릴 수 있었는데 리브넥스트의 종료로 더 이상 모바일에서는 ATM에서 현금 입금을 할 수 없게 됐습니다. 이 기능을 없애게 된 이유가 있나요? 출금 기능만 남았던데 입금 기능을 만들어주시면 좋겠습니다.

In [22]:
print(resp[0])

고객님, 안녕하세요. 현재 KB스타뱅킹에서는 ATM입금 서비스를 제공하고 있지 않으나, 고객님께서 편리하게 이용하셨던 점이 충분히 이해되어 ATM입금 기능 도입 여부에 대해 검토해 보도록 하겠습니다. 다만, 새로운 서비스를 도입하기 위해서는 타행 시장조사, 요건 분석 및 개발 범위 등 검토되어야할 사항이 많아 다소 많은 시일이 소요될 수 있는 점 양해 부탁드립니다. 마지막으로 당행 자동화기기에서는 통장/카드없이 무통장 입금 서비스를 이용하실 수 있는 방법도 있으니 거래에 참고 부탁드리겠습니다.(*이용한도: 1회 50만원, 1일 100만원) 더욱 편리한 서비스를 제공하는 KB스타뱅킹이 되겠습니다. 감사합니다.

In [69]:
import string
import re
new_rv=[]
new_resp=[]

In [68]:
len(rv)

2223

In [30]:
rv[0].translate(str.maketrans('','',string.punctuation)).replace("  "," ").strip()

'리브와 리브넥스트에서 사용했던 ATM입금 기능이 있으면 좋겠습니다 현금이나 실물 카드를 가지고 다니지 않게 되는 편리한 금융생활을 누릴 수 있었는데 리브넥스트의 종료로 더 이상 모바일에서는 ATM에서 현금 입금을 할 수 없게 됐습니다 이 기능을 없애게 된 이유가 있나요 출금 기능만 남았던데 입금 기능을 만들어주시면 좋겠습니다'

In [40]:
resp[0].translate(str.maketrans('','',string.punctuation)).replace("  "," ").strip()

'고객님 안녕하세요 현재 KB스타뱅킹에서는 ATM입금 서비스를 제공하고 있지 않으나 고객님께서 편리하게 이용하셨던 점이 충분히 이해되어 ATM입금 기능 도입 여부에 대해 검토해 보도록 하겠습니다 다만 새로운 서비스를 도입하기 위해서는 타행 시장조사 요건 분석 및 개발 범위 등 검토되어야할 사항이 많아 다소 많은 시일이 소요될 수 있는 점 양해 부탁드립니다 마지막으로 당행 자동화기기에서는 통장카드없이 무통장 입금 서비스를 이용하실 수 있는 방법도 있으니 거래에 참고 부탁드리겠습니다이용한도 1회 50만원 1일 100만원 더욱 편리한 서비스를 제공하는 KB스타뱅킹이 되겠습니다 감사합니다'

In [117]:
for n in rv:
#     n = n.translate(str.maketrans('','',string.punctuation)).replace("  "," ").replace("ㅎ"," ").replace("ㅋ"," ").replace("ㅡ"," ").replace("ㅜ"," ").replace("ㅠ"," ").strip()
    n=re.sub(r'[^가-힣a-zA-Z0-9]',' ',n).replace('  ',' ').replace('   ',' ').strip()
    new_rv.append(n)
# new_rv

In [71]:
len(new_rv)

2223

In [118]:
for n in resp:
#     n = n.translate(str.maketrans('','',string.punctuation)).replace("  "," ").replace("ㅎ"," ").replace("ㅋ"," ").replace("ㅡ"," ").replace("ㅜ"," ").replace("ㅠ"," ").strip()
    n=re.sub(r'[^가-힣a-zA-Z0-9]',' ',str(n)).replace('  ',' ').replace('   ',' ').strip()
    new_resp.append(n)
# new_resp

In [79]:
result = dict(Name=Name, rates=rates, rv=new_rv, date=date, resp=new_resp,
)
# result

In [80]:
len(result['resp'])

2223

In [57]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\admin\miniforge3\envs\fintech\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\admin\miniforge3\envs\fintech\lib\site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\miniforge3\envs\fintech\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\miniforge3\envs\fintech\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\miniforge3\envs\fintech\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\miniforge3\envs\fintech\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [58]:
import pandas as pd

In [101]:
df = pd.DataFrame(result)
df.isna()

        사용자     별점     리뷰     날짜  개발자 응답
0     False  False  False  False   False
1     False  False  False  False   False
2     False  False  False  False   False
3     False  False  False  False   False
4     False  False  False  False   False
...     ...    ...    ...    ...     ...
2218  False  False  False  False   False
2219  False  False  False  False   False
2220  False  False  False  False   False
2221  False  False  False  False   False
2222  False  False  False  False   False

[2223 rows x 5 columns]

# enumerate로 오류 찾기

In [188]:
result2={}
for index, dicts in enumerate(reviews[:2]):
    print(index,dicts)
    for key, value in dicts.items():
#         if value == None:
#             value='없음'
        if key == "별점":
            result2.setdefault(key, []).append(int(value))
        else:
            cleaned_value = re.sub(r'[^가-힣a-zA-Z0-9]',' ',value).replace('ㅋ',' ').replace('ㅎ',' ').replace('ㅠ',' ').replace('ㅜ',' ').replace('  ',' ').replace('   ',' ').strip()
        result2.setdefault(key, []).append(cleaned_value)

0 {'사용자': '박성진 (홀리진)', '별점': '4', '리뷰': '리브와 리브넥스트에서 사용했던 ATM입금 기능이 있으면 좋겠습니다. 현금이나 실물 카드를 가지고 다니지 않게 되는 편리한 금융생활을 누릴 수 있었는데 리브넥스트의 종료로 더 이상 모바일에서는 ATM에서 현금 입금을 할 수 없게 됐습니다. 이 기능을 없애게 된 이유가 있나요? 출금 기능만 남았던데 입금 기능을 만들어주시면 좋겠습니다.', '날짜': '2025년 3월 2일', '개발자 응답': '고객님, 안녕하세요. 현재 KB스타뱅킹에서는 ATM입금 서비스를 제공하고 있지 않으나, 고객님께서 편리하게 이용하셨던 점이 충분히 이해되어 ATM입금 기능 도입 여부에 대해 검토해 보도록 하겠습니다. 다만, 새로운 서비스를 도입하기 위해서는 타행 시장조사, 요건 분석 및 개발 범위 등 검토되어야할 사항이 많아 다소 많은 시일이 소요될 수 있는 점 양해 부탁드립니다. 마지막으로 당행 자동화기기에서는 통장/카드없이 무통장 입금 서비스를 이용하실 수 있는 방법도 있으니 거래에 참고 부탁드리겠습니다.(*이용한도: 1회 50만원, 1일 100만원) 더욱 편리한 서비스를 제공하는 KB스타뱅킹이 되겠습니다. 감사합니다.'}
1 {'사용자': '윤태경', '별점': '5', '리뷰': 'KB스타뱅킹 입출금계좌를 가입한 후, 전반적으로 매우 만족스러운 경험을 했습니다. 가입 과정은 간편하고 빠르게 진행되었으며, 온라인으로 모든 절차를 처리할 수 있어 편리했습니다. 특히, 모바일 앱의 사용자 인터페이스가 직관적이어서 처음 사용하는 사람도 쉽게 이해할 수 있었습니다. 계좌 개설 후에는 다양한 금융 서비스가 제공되어 더욱 유용했습니다. 특히 실시간 거래 내역 확인과 간편한 송금 서비스가 매우 마음에 들었습니다. 또한, 다양한 금융 상품에 쉽게 접근할 수 있어 자산 관리를 할 때 큰 도움이 되었습니다. 고객 서비스도 만족스러웠습니다. 문의사항이 있을 때 신속하게 응대해 주었고, 필요한 정보도 쉽게 얻을 수 있었습니다. 보안 측면에서도 안심할 수 있었고, 다양한 인증 절차가 있어 개인 정보 보호에 대한 걱정이 줄어들었습니다. 종합적으로 KB스타뱅킹 입출금계좌는 편리함과 효율성을 모두 갖춘 서비스로, 앞으로도 지속적으로 이용할 계획입니다.', '날짜': '2025년 1월 20일', '개발자 응답': "고객님 안녕하세요! KB스타뱅킹을 이용해 주셔서 진심으로 감사드립니다. KB스타뱅킹은 고객님께서 항상 편리하게 사용하실 수 있도록 최선을 다하겠습니다! 앱 이용 중 개선사항이 있으시다면, [네이버 포스트 'KB스타뱅킹 앱리뷰' 고객의 소리] 또는 고객센터(1588-9999>0>3번)로 언제든 편하게 말씀해 주시기 바랍니다♥ 감사합니다!"}

# 전국 치킨집 데이터

In [127]:
with open ("./전국치킨집리스트.json", encoding='utf-8') as file:
    chick= file.read()
data=json.loads(chick)

In [174]:
len(data)

37

In [175]:
type(data)

list

In [164]:
result3={}

In [177]:
for i in data:    
    for m in i['body']['items']:
        for key, value in m.items():
            if value =='':
                value=None
            result3.setdefault(key, []).append(value)

In [183]:
key_list=data[0]['header']['columns']
key_list

['상가업소번호',
 '상호명',
 '지점명',
 '상권업종대분류코드',
 '상권업종대분류명',
 '상권업종중분류코드',
 '상권업종중분류명',
 '상권업종소분류코드',
 '상권업종소분류명',
 '표준산업분류코드',
 '표준산업분류명',
 '시도코드',
 '시도명',
 '시군구코드',
 '시군구명',
 '행정동코드',
 '행정동명',
 '법정동코드',
 '법정동명',
 'PNU코드',
 '대지구분코드',
 '대지구분명',
 '지번본번지',
 '지번부번지',
 '지번주소',
 '도로명코드',
 '도로명',
 '건물본번지',
 '건물부번지',
 '건물관리번호',
 '건물명',
 '도로명주소',
 '구우편번호',
 '신우편번호',
 '동정보',
 '층정보',
 '호정보',
 '경도',
 '위도']

In [185]:
df1=pd.DataFrame(result3)
df1.columns= key_list
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37064 entries, 0 to 37063
Data columns (total 39 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   상가업소번호     37064 non-null  object
 1   상호명        37064 non-null  object
 2   지점명        20116 non-null  object
 3   상권업종대분류코드  37064 non-null  object
 4   상권업종대분류명   37064 non-null  object
 5   상권업종중분류코드  37064 non-null  object
 6   상권업종중분류명   37064 non-null  object
 7   상권업종소분류코드  37064 non-null  object
 8   상권업종소분류명   37064 non-null  object
 9   표준산업분류코드   37064 non-null  object
 10  표준산업분류명    37064 non-null  object
 11  시도코드       37064 non-null  object
 12  시도명        37064 non-null  object
 13  시군구코드      37064 non-null  object
 14  시군구명       37064 non-null  object
 15  행정동코드      37064 non-null  object
 16  행정동명       37064 non-null  object
 17  법정동코드      37064 non-null  object
 18  법정동명       37064 non-null  object
 19  PNU코드      37064 non-null  object
 20  대지구분코드     37064 non-null  object
 21  대지구분명      37064 non-null  object
 22  지번본번지      37064 non-null  int64
 23  지번부번지      28991 non-null  float64
 24  지번주소       37064 non-null  object
 25  도로명코드      37064 non-null  object
 26  도로명        37064 non-null  object
 27  건물본번지      37064 non-null  int64
 28  건물부번지      7137 non-null   float64
 29  건물관리번호     37064 non-null  object
 30  건물명        13395 non-null  object
 31  도로명주소      37064 non-null  object
 32  구우편번호      36906 non-null  object
 33  신우편번호      37058 non-null  object
 34  동정보        2358 non-null   object
 35  층정보        20048 non-null  object
 36  호정보        0 non-null      object
 37  경도         37064 non-null  float64
 38  위도         37064 non-null  float64
dtypes: float64(4), int64(2), object(33)
memory usage: 11.0+ MB

In [186]:
df1.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,10027626,장모님치킨가창점,가창점,Q,음식,Q05,닭/오리요리,Q05A08,후라이드/양념치킨,I56193,...,2771031024101200004036858,None,대구광역시 달성군 가창면 가창동로 6,711861,42938,None,1,None,128.644459,35.782663
1,10098244,짱구피자치킨,None,Q,음식,Q05,닭/오리요리,Q05A08,후라이드/양념치킨,I56193,...,4125010300102680011008557,None,경기도 동두천시 못골로 30,483030,11320,None,None,None,127.065903,37.901262
2,10099459,쭈노치킨,None,Q,음식,Q05,닭/오리요리,Q05A08,후라이드/양념치킨,I56193,...,4157025324105380008019970,None,경기도 김포시 고촌읍 장차로13번길 18,415811,10126,None,1,None,126.769859,37.603752
3,10136167,치킨뱅이,None,Q,음식,Q05,닭/오리요리,Q05A08,후라이드/양념치킨,I56193,...,4213011000108300006022278,None,강원도 원주시 금불3길 5,220938,26423,None,1,None,127.932025,37.348358
4,10136346,치킨월드율량점,율량점,Q,음식,Q05,닭/오리요리,Q05A08,후라이드/양념치킨,I56193,...,4311111500108060000045239,None,충청북도 청주시 청원구 공항로138번길 53,363818,28328,None,1,None,127.487586,36.669816

In [ ]:
for i in data:    
    for m in i['body']['items']:
        for key, value in zip(data[0]['header']['columns'], m.values()):
            if value =='':
                value=None
            result3.setdefault(key, []).append(value)

# CSV 파일로 저장하기
* 변수명.to_csv('경로와 파일명", index=False, encoding='utf-8-sig')

In [190]:
df1.to_csv('./chicken.csv', index=False, encoding='utf-8-sig')

# Pandas로 json 데이터 쉽게 정리하기
* pd.json_normalize(json데이터)

* json_normaliz로 만든 데이터프레임을 pages 리스트에 추가

In [198]:
pages=[]
for page in data:
    pages.append(pd.json_normalize(page['body']['items']))

In [199]:
len(pages)

37

* pandas의 concat 명령어로 여러개의 데이터프레인 하나로 합치기
* pd.concat(데이터프레임 리스트)
* 데이터 프레임의 인덱스 초기화 reset)index(drop=True)

In [202]:
df6= pd.concat(pages)

In [204]:
df6= df6.reset_index(drop=True)
df6

,bizesId,bizesNm,brchNm,indsLclsCd,indsLclsNm,indsMclsCd,indsMclsNm,indsSclsCd,indsSclsNm,ksicCd,...,bldMngNo,bldNm,rdnmAdr,oldZipcd,newZipcd,dongNo,flrNo,hoNo,lon,lat
0,10027626,장모님치킨가창점,가창점,Q,음식,Q05,닭/오리요리,Q05A08,후라이드/양념치킨,I56193,...,2771031024101200004036858,,대구광역시 달성군 가창면 가창동로 6,711861,42938,,1,,128.644459,35.782663
1,10098244,짱구피자치킨,,Q,음식,Q05,닭/오리요리,Q05A08,후라이드/양념치킨,I56193,...,4125010300102680011008557,,경기도 동두천시 못골로 30,483030,11320,,,,127.065903,37.901262
2,10099459,쭈노치킨,,Q,음식,Q05,닭/오리요리,Q05A08,후라이드/양념치킨,I56193,...,4157025324105380008019970,,경기도 김포시 고촌읍 장차로13번길 18,415811,10126,,1,,126.769859,37.603752
3,10136167,치킨뱅이,,Q,음식,Q05,닭/오리요리,Q05A08,후라이드/양념치킨,I56193,...,4213011000108300006022278,,강원도 원주시 금불3길 5,220938,26423,,1,,127.932025,37.348358
4,10136346,치킨월드율량점,율량점,Q,음식,Q05,닭/오리요리,Q05A08,후라이드/양념치킨,I56193,...,4311111500108060000045239,,충청북도 청주시 청원구 공항로138번길 53,363818,28328,,1,,127.487586,36.669816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36059,9829515,아리치킨,,Q,음식,Q05,닭/오리요리,Q05A08,후라이드/양념치킨,I56193,...,4125010200106740003008662,,경기도 동두천시 거북마루로 6,483020,11348,,1,,127.046713,37.895702
36060,9851302,애니치킨,,Q,음식,Q05,닭/오리요리,Q05A08,후라이드/양념치킨,I56193,...,4785031036104090002008916,,경상북도 칠곡군 지천면 신동로 147,718821,39864,,,,128.488717,35.956631
36061,9867543,에디슨치킨,,Q,음식,Q05,닭/오리요리,Q05A08,후라이드/양념치킨,I56193,...,1135010600103590001010681,중계5단지주공아파트,서울특별시 노원구 중계로 230,139781,01713,,1,,127.075031,37.651004
36062,9918905,오븐에꾸운닭장유점,장유점,Q,음식,Q05,닭/오리요리,Q05A08,후라이드/양념치킨,I56193,...,4825031027103150002091993,재영프라자,경상남도 김해시 삼문로 26,621280,51004,,1,,128.803565,35.192491
36063,9967953,웰빙치킨,,Q,음식,Q05,닭/오리요리,Q05A08,후라이드/양념치킨,I56193,...,4213011100101360002016167,,강원도 원주시 상지대길 43,220954,26342,,1,,127.937290,37.369591